{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-5">

    <img
        src="{{ restaurant.image.url }}"
        class="img-fluid rounded mb-4"
    >

    <h1>
        {{ restaurant.name }}
    </h1>

    <p class="text-muted">

        {{ restaurant.city }}

    </p>

    <p>

        {{ restaurant.address }}

    </p>

    <hr>

    <p>

        {{ restaurant.description }}

    </p>

    <hr>

<div class="row text-center mb-5">

<div class="col">

<h4>
⭐ {{ restaurant.average_rating }}/5
</h4>

Average Rating

</div>

<div class="col">

<h4>
🍽 {{ posts.count }}
</h4>

Posts

</div>

<div class="col">

<h4>

{% if top_user %}

{{ top_user.username }}

{% else %}

—

{% endif %}

</h4>

Top Reviewer

</div>

</div>

</div>

<hr>

<h3 class="mb-4">

Posts

</h3>

<div class="row">

{% for post in restaurant.posts.all %}

<div class="col-md-4">

<div class="card p-3 mb-3">

<h5>

{{ post.title }}

</h5>

<p>

⭐ {{ post.rating }}/5

</p>

<a
href="{% url 'post-detail' post.id %}"
class="btn btn-dark"
>

View

</a>

</div>

</div>

{% empty %}

<p>

No posts.

</p>

{% endfor %}

</div>

{% endblock %}