{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-5">

    <h1>
        Restaurants
    </h1>

    <form method="GET" class="card shadow-sm p-3 mb-5">

    <div class="row">

        <div class="col-md-5">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search restaurants..."
                value="{{ search_query }}"
            >

        </div>

        <div class="col-md-5">

            <input
                type="text"
                name="city"
                class="form-control"
                placeholder="Filter by city..."
                value="{{ city_filter }}"
            >

        </div>

        <div class="col-md-2">

<input
type="number"
step="0.1"
name="rating"
class="form-control"
placeholder="Min rating"
value="{{ rating }}"
>

</div>

        <div class="col-md-2">

            <button class="btn btn-dark w-100">
                Filter
            </button>

        </div>

    </div>

</form>

    <a
        href="{% url 'create-restaurant' %}"
        class="btn btn-dark"
    >
        Add Restaurant
    </a>

</div>

<div class="row">

{% for restaurant in restaurants %}

<div class="col-md-4 mb-4">

    <div class="card shadow h-100">

        <img
            src="{{ restaurant.image.url }}"
            class="card-img-top"
            style="height:250px; object-fit:cover;"
        >

        <div class="card-body">

            <h4>
                {{ restaurant.name }}
            </h4>

            <p>
                {{ restaurant.city }}
            </p>

            <p>
    ⭐          {{ restaurant.average_rating }}/5
            </p>

            <a
                href="{% url 'restaurant-detail' restaurant.id %}"
                class="btn btn-dark"
            >
                View
            </a>

        </div>

    </div>

</div>

{% empty %}

<p>
No restaurants yet.
</p>

{% endfor %}

</div>

{% endblock %}