{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-5 mb-5">

    <h1>
        {{ profile_user.username }}
    </h1>

    <p class="text-muted">

        Joined:
        {{ profile_user.date_joined|date:"d.m.Y" }}

    </p>

    <hr>

    <div class="row text-center">

        <div class="col-md-6">

            <h3>
                {{ posts.count }}
            </h3>

            <p>
                Posts
            </p>

        </div>

        <div class="col-md-6">

            <h3>
                {{ favorites.count }}
            </h3>

            <p>
                Favorites
            </p>

        </div>

    </div>

</div>

<h2 class="mb-4">
    User Posts
</h2>

<div class="row">

    {% for post in posts %}

    <div class="col-md-4 mb-4">

        <div class="card shadow h-100">

            <img
                src="{{ post.image.url }}"
                class="card-img-top"
                style="height:250px; object-fit:cover;"
            >

            <div class="card-body">

                <h5>
                    {{ post.title }}
                </h5>

                <p>
                    {{ post.description|truncatewords:15 }}
                </p>

                <a
                    href="{% url 'post-detail' post.id %}"
                    class="btn btn-dark"
                >
                    View Post
                </a>

            </div>

        </div>

    </div>

    {% empty %}

    <p>
        No posts yet.
    </p>

    {% endfor %}

</div>

<hr class="my-5">

<h2 class="mb-4">
    Favorite Posts
</h2>

<div class="row">

    {% for favorite in favorites %}

    <div class="col-md-4 mb-4">

        <div class="card shadow h-100">

            <img
                src="{{ favorite.post.image.url }}"
                class="card-img-top"
                style="height:250px; object-fit:cover;"
            >

            <div class="card-body">

                <h5>
                    {{ favorite.post.title }}
                </h5>

                <a
                    href="{% url 'post-detail' favorite.post.id %}"
                    class="btn btn-warning"
                >
                    View Post
                </a>

            </div>

        </div>

    </div>

    {% empty %}

    <p>
        No favorite posts yet.
    </p>

    {% endfor %}

</div>

{% endblock %}