{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-5 mb-5 text-center">

    <img
        src="{{ profile_user.userprofile.profile_image.url }}"
        class="rounded-circle mx-auto mb-4"
        style="
            width:150px;
            height:150px;
            object-fit:cover;
        "
    >

    <h1>
        {{ profile_user.username }}
    </h1>

    <p class="text-muted">

        Joined:
        {{ profile_user.date_joined|date:"d.m.Y" }}

    </p>

    <p class="mt-3">

        {{ profile_user.userprofile.bio }}

    </p>

    {% if profile_user.userprofile.location %}

    <p class="text-muted">

    {{ profile_user.userprofile.location }}

    </p>

    {% endif %}

    {% if request.user == profile_user %}

    <a
        href="{% url 'edit-profile' %}"
        class="btn btn-warning mt-3"
    >
        Edit Profile
    </a>

    {% endif %}


</div>

<div class="row text-center mb-5">

    <div class="col-md-6">

        <div class="card shadow p-4">

            <h2>
                {{ posts.count }}
            </h2>

            <p>
                Posts
            </p>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card shadow p-4">

            <h2>
                {{ favorites.count }}
            </h2>

            <p>
                Favorites
            </p>

        </div>

    </div>

</div>

<h2 class="mb-4">
    User Posts
</h2>

<div class="row">

    {% for post in posts %}

    <div class="col-md-4 mb-4">

        <div class="card shadow h-100">

            <img
                src="{{ post.image.url }}"
                class="card-img-top"
                style="
                    height:250px;
                    object-fit:cover;
                "
            >

            <div class="card-body d-flex flex-column">

                <h5>
                    {{ post.title }}
                </h5>

                <p>
                    {{ post.description|truncatewords:15 }}
                </p>

                <a
                    href="{% url 'post-detail' post.id %}"
                    class="btn btn-dark mt-auto"
                >
                    View Post
                </a>

            </div>

        </div>

    </div>

    {% empty %}

    <p>
        No posts yet.
    </p>

    {% endfor %}

</div>

<hr class="my-5">

<h2 class="mb-4">
    Favorite Posts
</h2>

<div class="row">

    {% for favorite in favorites %}

    <div class="col-md-4 mb-4">

        <div class="card shadow h-100">

            <img
                src="{{ favorite.post.image.url }}"
                class="card-img-top"
                style="
                    height:250px;
                    object-fit:cover;
                "
            >

            <div class="card-body d-flex flex-column">

                <h5>
                    {{ favorite.post.title }}
                </h5>

                <a
                    href="{% url 'post-detail' favorite.post.id %}"
                    class="btn btn-warning mt-auto"
                >
                    View Post
                </a>

            </div>

        </div>

    </div>

    {% empty %}

    <p>
        No favorite posts yet.
    </p>

    {% endfor %}

</div>

{% endblock %}